<div class="champion-info-container">
  @if (champion) {
    <h3 class="champion-info-name">{{champion.name}} ({{champion.title}})</h3>
    <app-champion-skins [skins]="champion.skins"></app-champion-skins>

    <h4>{{champion.name}}'s story</h4>
    <p><i class="fa-solid fa-scroll"></i> {{champion.lore}}</p>

    <h4>Stats</h4>

    <app-tags-with-icon  [tags]="champion.tags"></app-tags-with-icon>

    <h4>If {{champion.name}} is your ally: </h4>
    @for (tip of champion.allytips; track tip) {
      <app-text-info [info]="tip"></app-text-info>
    }

    <h4>If {{champion.name}} is your opponent: </h4>
    @for (tip of champion.enemytips; track tip) {
      <app-text-info [info]="tip"></app-text-info>
    }
  }
</div>
