@media screen and (width > 1500px) {
  .champion-info-container {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (width < 400px) {
  .champion-info-container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}

  @media screen and (width > 400px) and (width < 800px){
    .champion-info-container {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
    }
}
