input {
  margin-top: 10px;
  appearance: none;
  border: none;
  outline: none;
  border-bottom: .2em solid oklch(61.42% 0.238 15.34);
  background: rgba(oklch(61.42% 0.238 15.34), .2);
  border-radius: .2em .2em 0 0;
  padding: .4em;
  color: oklch(61.42% 0.238 15.34);
}
