<div>
  <p>
    <label for="championSearch">
      Search for a champion
      <input (input)="onNameChange($event)" type="text" name="championSearch" id="championSearch">
    </label>
  </p>
  <p>
    <label for="position">
      Position where the champion is played
      <select (change)="onPositionChange($event)" name="position" id="position">
        @for (position of positionOptions; track position) {
          <option value={{position}}>{{position}}</option>
        }
      </select>
    </label>
  </p>
  <p>
    <label for="role">
      Champion's type
      <select (change)="onTypeChange($event)" name="role" id="role">
        @for (role of roleOptions; track role) {
          <option value={{role}}>{{role}}</option>
        }
      </select>
    </label>
  </p>
  <p>
    <label for="search">
      Search
      <button (click)="send()" id="search">Search</button>
    </label>
  </p>
</div>
