<div class="champion-skins-container">
  <h3>Skins</h3>
  <!-- Large screens -->
  <div class="champion-skin-splash">
    <img  [ngSrc]="skins[activeSkin].skinURI.toString()"  priority height="717" width="1215">
  <p>
    @if (activeSkin > 0) {
      <i class="fa-solid fa-angles-left" (click)="gotToPrevSkin()"></i>
    }
    {{skins[activeSkin].name}} {{activeSkin+1}}/{{skins.length}}
    @if (activeSkin < skins.length -1) {
      <i class="fa-solid fa-angles-right" (click)="goToNextSkin()"></i>
    }
  </p>
  </div>
  <!-- Medium to small screens -->
  <div class="champion-skin-loading" >
    <p>
      @if (activeSkin > 0) {
        <i class="fa-solid fa-angles-left" (click)="gotToPrevSkin()"></i>
      }
      {{skins[activeSkin].name}} {{activeSkin+1}}/{{skins.length}}
      @if (activeSkin < skins.length -1) {
        <i class="fa-solid fa-angles-right" (click)="goToNextSkin()"></i>
      }
    </p>
    <!--<img [ngSrc]="skins[activeSkin].skinURI.toString().replace('splash','loading')"  priority height="560" width="308" (touchstart)="swipeUtilsService.onTouchStart($event)" (touchmove)="swipeUtilsService.onTouchMove($event)" (touchend)="swipeUtilsService.onTouchEnd($event,goToNextSkin,gotToPrevSkin)">-->
    <img [ngSrc]="skins[activeSkin].skinURI.toString().replace('splash','loading')"  priority height="560" width="308" (touchstart)="onTouchStart($event)" (touchmove)="onTouchMove($event)" (touchend)="onTouchEnd($event)">
  </div>
</div>
