/**TDO import style.css **/

.login-container {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.login-container h2 {
  color: #E91E63;
}

.login-form {

}

.login-form span {
  color: #E91E63;
  margin-left: 10px;
  font-size: 12px;
}
